@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
    background-color: #073B4C;
    /* height: 100%; */
    margin: 0 auto;
    text-align: center;
    color: ghostwhite;
}

.app {
    display: flex;
    flex-flow: column;
}

header {
    margin: 0 auto;
    flex: 0 1 auto;
    /* border: thin solid ghostwhite; */
    /* box-sizing: border-box; */
}

h1 {
    font-family: 'McLaren', cursive;
    font-size: 48px;
}

.button-container {
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: ghostwhite;
    overflow: hidden;
}

.game-button {
    width: 100%;
    height: 25%;
}

#green {
    background-color: #06D6A0;
    transform-origin: bottom right;
}

#red {
    background-color: #EF476F;
    transform-origin: bottom left;
}

#yellow {
    background-color: #FFD166;
    transform-origin: top right;
}

#blue {
    background-color: #118AB2;
    transform-origin: top left;
}

.play-container {
    display: flex;
    flex-flow: column;
}

.play-container img {
    flex: 1 1 auto;
    align-self: flex-end;
}


@media (max-height: 860px) {
    .button-container {
        height: 600px;
    }
}

/* For Pixel 2XL */
@media (max-height: 830px) {
    .button-container {
        height: 540px;
    }
}

@media (max-height: 750px) {
    .button-container {
        height: 480px;
    }
}

@media (max-height: 700px) {
    .button-container {
        height: 420px;
    }
}

@media (max-height: 600px) {
    .button-container {
        height: 380px;
    }
}

/* For iPad Pro */
@media (min-height: 1300px) {
    .button-container {
        height: 1000px;
    }
}