@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
    background-color: #073B4C;
    /* height: 100%; */
    margin: 0 auto;
    text-align: center;
    color: ghostwhite;
}

.app {
    display: flex;
    flex-flow: column;
}

header {
    margin: 0 auto;
    flex: 1 1 auto;
    /* border: thin solid ghostwhite; */
    /* box-sizing: border-box; */
}

h1 {
    font-family: 'McLaren', cursive;
    font-size: 48px;
}

.button-container {
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background-color: ghostwhite;
    overflow: hidden;
}

.game-button {
    width: 100%;
    height: 25%;
}

#green {
    background-color: #06D6A0;
    transform-origin: bottom right;
}

#red {
    background-color: #EF476F;
    transform-origin: bottom left;
}

#yellow {
    background-color: #FFD166;
    transform-origin: top right;
}

#blue {
    background-color: #118AB2;
    transform-origin: top left;
}


/* @media (max-width: 380px) {

} */

/* @media (max-width: 500px) {

} */

/* @media (max-height: 700px) {
    .button-container {
        height: 380px;
    }
} */

/* @media (max-height: 750px) {
    .button-container {
        height: 460px;
    }
} */
