body {
    background-color: #073B4C;
    margin: 0 auto;
    text-align: center;
    color: ghostwhite;
}

h1 {
    margin: 1em auto;
    font-family: 'Goldman', sans-serif;
    font-size: 48px;
}

.game-container {
    margin: 4em auto;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    height: 500px;
    background-color: ghostwhite;
}

.game-button {
    width: 50%;
    height: 50%;
}

#green {
    background-color: #06D6A0;
}

#red {
    background-color: #EF476F;
}

#yellow {
    background-color: #FFD166;
}

#blue {
    background-color: #118AB2;
}